python-dotenv
coverage
protobuf==3.20.1
pytest==7.1.2
requests==2.27.1
websocket_client==1.3.2
gcloud==0.18.3
google-cloud-pubsub==2.12.1
google-cloud-secret-manager==2.10.0
google-cloud-datastore==2.6.0
Flask-Executor==0.10.0
gunicorn==20.0.4